               body{background-color: powderblue;
               text-align: center;
               font-family:"comic sans ms";}

               h1{color:red;
                font-family: "Georgia";}

               h2{color:orange;
               font-family: Impact, Charcoal, sans-serif}

               h3{color:yellow;}

               p{color:blue;
                font-family: "Times New Roman", Times, serif;
                  font-style: italic;
                    font-size: 50px;}
                  
         #h1box{
         background-color: white;
         height: 40px;}
         
         p1{color:green;
                font-family: "Times New Roman", Times, serif;
                font-style: bolt;
                font-size: 40px;}
      img {width: 120px;}
